<html>
<head>
<title>
    {{page:name}}
    </title>
    {{navlinks}}
<link rel="stylesheet" href="{{templateroot}}site.css"/>
<script type="text/javascript">
<!--
sfHover = function() {
	var sfEls = document.getElementById("nav").getElementsByTagName("LI");
	for (var i=0; i<sfEls.length; i++) {
		sfEls[i].onmouseover=function() {
			this.className+=" sfhover";
		}
		sfEls[i].onmouseout=function() {
			this.className=this.className.replace(new RegExp(" sfhover\\b"), "");
		}
	}
}
if (window.attachEvent) window.attachEvent("onload", sfHover);
-->
</script>

</head>
<body>
{{template:langmenu}}
<h2>{{page:name}} in style {{style}}</h2>
<a href="{{url|{{spec}}|donk}}">link to page in DONK</a><br>
<a href="{{url|{{spec}}|*}}">link to page in default style</a><br>
<div id="content">
  <p>Time created: {{ftime|%c}}</p>
  <p>{{@page:content}}</p>
</div>
  {{template:navmenustddeb}}
  {{template:navmenustd}}
</body>
</html>
